@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	background-color: #F4F7F9;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 60px;
	text-align: center;
	color: #4E4F50;
	margin-bottom: 50px;
}
._1newcourse{
	width: 350px;
	height: 350px;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid #F4F7F9;
	border-radius: 25px;
	overflow: hidden;
	float: left;
	transition: 0.6s;
}
.imgcourse{
	width: 350px;
	height: 170px;
	overflow: hidden;
}
.namecourse{
	width: 350px;
	height: 90px;
}
.overview{
	width: 350px;
	height: 90px;
	background-color: white;
}
.namecourse h4{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: normal;
	padding-left: 15px;
	padding-top: 10px;
}
.overview .type{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding-left: 15px;
	padding-top: 15px;
}
.overview .cost{
	float: right;
	font-size: 35px;
	padding-right: 15px;
}
.overview .cost .period{
	color: gray;
	font-size: 25px;
}
.list_courses{
	width: 1150px;
	height: 765px;
	margin: auto;
}
.green{
	color: #1DBB90;
}
.yellow{
	color: #FFB20E;
}
.blue{
	color: #1EAACE;
}
.greenback{
	background-color: #1DBB90;
}
.yellowback{
	background-color: #FFB20E;
}
.blueback{
	background-color: #1EAACE;
}
.view_all{
	margin: auto;
	width: 230px;
	height: 30px;
	text-align: center;
	display: block;
	background-color: #1DBB90;
	box-shadow: -5px 5px 0 #C3C6C7;
	transition: 0.2s;
}
a.view_all{
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	padding-top: 15px;
}
.view_all:hover{
	transition: 0.2s;
	background-color: #FFB20E;
}

._1newcourse .hover{
	height: 0;
	opacity: 0;
	transition: 0.5s;
}
._1newcourse:hover .unhover{
	height: 0;
	opacity: 0;
	transition: 0.5s;
}
._1newcourse:hover .hover{
	opacity: 1;
	transition: 0.5s;
	width: 350px;
	height: 350px;
	color: white;
}
._1newcourse:hover .hover h4{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}
._1newcourse:hover .hover p{
	height: 150px;
	font-size: 13.5px;
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
._1newcourse:hover .hover .sel{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	padding-top: 10px;
}
a.learnmore{
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #E05100;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: -4px 4px 0 #4c525659;
	margin-right: 10px;
	transition: 0.2s;
}
a.buynow{
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #E05100;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: -4px 4px 0 #4c525659;
	margin-right: 10px;
	transition: 0.2s;
}
a.learnmore:hover{
	color: white;
	background-color: #CC8B00;
	border: 1px solid #CC8B00;
	transition: 0.2s;
}
a.buynow:hover{
	color: white;
	background-color: #CC8B00;
	border: 1px solid #CC8B00;
	transition: 0.2s;
}
.listfields{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.listfields .field{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #1DBB90;
	margin-right: 5px;
	border: 1px solid #1DBB90;
	border-radius: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
	transition: 0.2s;
}
.field:hover{
	background-color: #FFB20E;
	border: 1px solid #FFB20E;
	border-radius: 5px;
	transition: 0.2s;
}
.field:focus{
	background-color: #FFB20E;
	border: 1px solid #FFB20E;
}