*{
	margin: 0;
	padding: 0;
}
body{
	color: #666666;
}
.panel{
	width: 100%;
	height: auto;
	background-image: url("images/panel.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	border-top: 2px dashed white;

	
}
i{
	font-size: 100px;
	color: white;
}
.icon a{
	text-decoration: none;
	font-size: 20px;
	font-family: inherit;
	color: white;
	margin-bottom: 30px;
	display: block;
}
.icon p{
	color: white;
}
.content h3{
	font-size: 60px;
	color: white;
	font-weight: 100;
}
.content{
	width: 65%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 40px;
}
.content a{
	padding: 15px;
	margin-bottom: 60px;
	margin-top: 20px;
	font-size: 20px;
	background-color: white;
	display: inline-block;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	color: #E05100;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: -4px 4px 0 #4c525659;
}
.filter{
	padding-top: 30px;
	width: 100%;
	height: 100%;
	background-color: #093e52c7;
}
.time_details{
	font-size: 38px;
	width: 60%;
	margin: auto;
	color: #666666;
	margin-bottom: 40px;
}
.time_details i{
	font-size: 70px;
	color: #1EAACE;
	margin-right: 15px;
}
.finish{
	text-decoration: none;
	color: #1EAACE;
}
.about_course{
	margin: auto;
	width: 60%;
	display: flex;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}
.info_course{
	flex: 2;
}

.info_course a{
	text-decoration: none;
	display: inline-block;
	font-family: inherit;
	color: white;
	padding: 15px;
	border: 1px solid #1EAACE;
	font-weight: bold;
	border-radius: 5px;
	background-color: #1EAACE;
	box-shadow: -4px 4px 0 #4c525659;
	transition: 0.2s;
}
.info_course a:hover{
	background-color: #FFB20E;
	transition: 0.2s;
}
.about{
	font-size: 55px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	color: #666666;
}
.chart{
	flex: 1;
}
.slider{
	width: 80%;
	margin-left: 10px;
	-webkit-appearance: none;
	border-radius: 12px;
}
.tutorial{
	background: linear-gradient(90deg, #1EAACE 50%, white 50%);
}
.training{
	background: linear-gradient(90deg, #1DBB90 50%, white 50%);
}
.teacher{
	background: linear-gradient(90deg, #FFB20E 50%, white 50%);
}
.price{
	background: linear-gradient(90deg, #1EAACE 50%, white 50%);
}
.avg{
	display: flex;
	background-color: #F4F7F9;
}
.summa{
	flex: 2;
	margin-top: 10px;
	margin-left: 10px;
	font-family: inherit;
	font-size: 15px;
}
.percent{
	flex: 1;
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 10px;
	background-color: #1DBB90;
}
.chart a{
	text-decoration: none;
	display: inline-block;
	font-family: inherit;
	color: white;
	padding: 15px;
	border: 1px solid #1EAACE;
	font-weight: bold;
	border-radius: 5px;
	background-color: #1EAACE;
	box-shadow: -4px 4px 0 #4c525659;
	transition: 0.2s;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
.chart a:hover{
	background-color: #FFB20E;
	transition: 0.2s;
}
.acpt{
	text-align: center;
}
.field{
	border: 1px solid gray;
	border-radius: 10px;
}
.more{
	margin: auto;
	width: 60%;
	display: flex;
}
.plan{
	flex: 2;
}
.location{
	flex: 1;
}
.need{
	color: #1EAACE;
	text-decoration: none;
	font-family: inherit;
	font-size: 17px;
}
.author{
	color: #1EAACE;
	text-decoration: none;
	font-family: inherit;
}
.plan label{
	font-family: inherit;
}
.plan ul{
	list-style: none;
}
.plan p{
	padding-right: 20px;
}
.plan i{
	color: #1EAACE;
	font-size: 5px;
	margin-right: 15px;
	position: relative;
	top: -4px;
}
.location i{
	color: #1EAACE;
	font-size: 30px;
	margin-right: 15px;
}
.more{
	margin-bottom: 50px;
}